            

body{
    margin: 0;
    padding-top: 70px;
    padding-left: 96px;
    padding-right: 24px;
    background-color:rgb(248,248,248) ;
    
}

@media (max-width:480px){
    body{
        margin: 0px;
        padding-top: 60px;
        padding-right: 0;
        margin-left: 5px;
        

    }
}