.side-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;

}
.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(235,235,235);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    
}
@media (max-width:480px){
    .side-bar{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    left: 0;
    right: 0;
    top: 92%;
    background-color: white;
    height: 72px;
    width: 100%;
    z-index: 200;
    padding-top: 5px;

}
.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

}