         .thumbnail{
                    margin-bottom: 8px;
                    position: relative;
                }
                
                .poster{
                    width: 100%;
                    margin-top: 10px;
                    border-radius: 7px;

                }
                .video-time{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 4px;
                    border-radius: 2px;
                    background-color: black;
                    color: white;
                    position: absolute;
                    bottom: 8px;
                    right: 5px;
                }
                .video_tittle{
                    margin-top: 0;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    margin-bottom: 10px;
                }
                .video_author{
                    display: block;
                    font-size: 12px;
                    color: rgb(96, 96,96);
                    margin-bottom: 3px;
                }
                .video_stats{
                    display: inline;
                    font-size: 12px;
                    color: rgb(96, 96,96);
                }
                .video-info-grid{
                    display: grid;
                    grid-template-columns: 50px 1fr;
                    
                }
                
                .profile-pic{
                    width: 36px;
                    border-radius: 50px;
                }
                
                .video-grid{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr  ;
                    column-gap: 16px;
                    row-gap: 25px;
                }
                @media (max-width:480px) {
                    .video-grid{
                        grid-template-columns: 1fr;
                        
                    }
                    body{
                        padding-left: 0;
        
                    }
                    .poster{
                        border-radius: 2px;
                    }
                    
                }
                @media (min-width:481px) and (max-width: 768px){
                    .video-grid{
                        grid-template-columns: 1fr 1fr ;
                    }
                    body{
                        padding-right: 30px;
                        
                    }
                }
                @media (min-width: 769px) and (max-width:1024px){
                    .video-grid{
                        grid-template-columns: 1fr 1fr 1fr ;
                    }
                }
                @media ( min-width: 1025px) and (max-width:1500px){
                    .video-grid{
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                    }
                }
                